{% comment %} <p><strong>Name:</strong> {{ year.name }}</p>
<p><strong>Start Date:</strong> {{ year.start_date|date:"d-m-Y" }}</p>
<p><strong>End Date:</strong> {{ year.end_date|date:"d-m-Y" }}</p>
<p>
    <strong>Status:</strong>
    {% if year.is_active %}
        <span class="status-active">Active</span>
    {% else %}
        <span class="status-inactive">Inactive</span>
    {% endif %}
</p>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div> {% endcomment %}